header {
  display: flex;
  margin: 40px 0 0 50px;
  align-items: flex-end;
}

.add-margin {
  margin: 40px 0 40px 50px;
}

.avatar-logo {
  margin-right: 10px;
  position: relative;
}

.fav-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: rgb(255, 255, 255, .9);
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 53px;
  left: 52px;
  cursor: pointer;
}

.fav-number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75rem;
  font-weight: 600;
  margin: 0;
  padding-right: 1px;
}

.avatar {
  cursor: pointer;
  height: 80px;
  margin-right: 3px;
}

.logo {
  height: 70px;
  position: relative;
  top: 0px;
}

.search-btn {
  position: relative;
  height: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  animation: bounce 1s;
}

.loading {
  margin: 0 8px 27px 0;
}

header img {
  transition: 2s;
}

@keyframes bounce {
  0% {
    margin-bottom: 20px;
  }
  30% {
    margin-bottom: 40px;
  }
  100% {
    margin-bottom: 20px;
  }
}

.topic-form {
  margin: 0 2px 24px 5px;
  height: 20px;
}

.search, .search-topics {
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.search {
  border: none;
  caret-color: #ff0022;
  font-weight: 600;
}

.search:focus {
  outline: none;
}

.search-topics {
  font-style: oblique;
  padding: 0 8px 0 0;
  margin-bottom: 20px;
}

.search-topics:hover {
  cursor: pointer;
  text-decoration: line-through;
  filter: contrast(.25)
}

.favorites-section {
  background-color: blue;
  height: 200px;
  width: 100%
}

