.login {
  margin: 40px 0 0 50px;
}

.avatar-container {
  display: flex;
  margin-top: 10px;
}

.avatar-container:hover .login-logo{
  display: unset;
}

.login-avatar {
  cursor: pointer;
  height: 80px;
  margin-right: 3px;
}

.login-logo {
  display: none;
  height: 70px;
  position: relative;
  top: 10px;
}

