.feature-event {
  width: 100%;
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topic-container {
  margin: 20px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}
